@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* The container */
.checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul.nominees {
    column-count: 2;
    padding: 20px 0;
}

ul.nominees li {
    padding: 10px 0;
}

ol.ranked,
ol.results {
    list-style: decimal;
    padding-left: 40px;
}

.vote-summary {
    position: fixed;
    right: 0;
    bottom: 0;
}

ul.voter-check {
    display: flex;
    flex-wrap: wrap;
}

ul.voter-check li {
    background: #c00;
    color: #fff;
    width: 16.5%;
    padding: 10px;
    text-align: center;
}

ul.voter-check li.voted {
    background: #cfc;
    color: #000;
}

.rank-nominee-name {
    cursor: pointer;
}

@media(min-width:481px) {
    .vote ul.nominees {
        column-count: 3;
    }
}